.reviews{
    margin: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.arrows{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
}
.review-header{
    width: 654px;
    height: 58px;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
}
.review-content{

    justify-content: space-around;
}