.topnav_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.Logo{
    list-style: none;
    margin-right: auto;
    font-weight: bold;
    font-size: 30px;

}

.topnav_List{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.List_items{
    list-style: none;
    padding-left: 20px;
}

.topnav_input{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.topnav_cart_container{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_container_first{
    margin-right: 20px;
}

.List_items>img{
    margin-left: 10px;
}
